@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "system-ui", "Courier New", Courier, monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #101828;
  letter-spacing: 0.08em;
  /* text-transform: uppercase; */
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
